################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exe
/.vs/Sec3Group5Game/FileContentIndex/0309a40d-2bb5-4a27-87ae-33c37e1a266e.vsidx
